/*TODO: ---------GLOBOL----------- */
/*TODO: ---------GLOBOL----------- */
html, body {
    height:100%;
    line-height: 1;
    font-size: 18px;
    background: rgb(0, 0, 0);
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
html {  scroll-behavior: smooth;}
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display:flex;
    flex-direction: column;
}

.__container {
    max-width:1920px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.block-box > *:not(:last-child) {
    margin-bottom: 27px;
}
.block-subtitle {
    color: rgb(251, 215, 132);
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 6px;
}

.block-title {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.36;
}

.block-text {
    line-height: 1.68;
}

/*TODO: ------HEADER-------- */
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index:50;
}

.header__container {
    display: flex;
    min-height: 116px;
    align-items: center;
}

.header__logo{
    margin: 0 85px;
    padding-top: 7px;
}

.header__menu-box {
    margin: 0 auto;
    padding: 5px 0;
}

.menu__list {
    display:flex;
    flex-wrap: wrap;
}

.menu__ltem:not(:last-child) {
    margin-right: 50px;
}

.menu__link {
    line-height: 1.38;
    letter-spacing: 0px;
}

.menu__link:hover {
    color:#eb0909 ;
}

/*TODO: ------MAIN-------- */
.page {
    flex: 1 1 auto;
}

.main-block {
    position: relative;
}

.main-block__items {
    padding-top: 196px;
    padding-bottom: 1023px;
    position: relative;
    z-index: 2;
    max-width: 950px;
    margin: 0 auto;
}

.main-block__subtitle {
    color: rgb(255, 193, 120);
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 6px;
    margin-bottom: 32px;
    margin-left: 104px;
}

.main-block__img {
    margin: 0 20px;
}

.main-block__img-title {
    max-width: 100%;
}

.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* TODO:------INFORM-------- */
.inform__block {
    padding-bottom: 250px;
    margin-top: -140px;
    position: relative;
    z-index: 2;
}

.inform__block-container {
    max-width: 1462px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: content-box;
}

.inform__block-img {
    margin: 0 20px;
}

.inform__block-img-item {
    max-width: 100%;
}

.inform__block-box {
    max-width: 600px;
    margin: 0 20px;
}

.inform__block-subtitle {
    margin-left: 96px;
}

.inform__block-title {
padding-right: 77px;
}

.inform__block-text,
.culture__block-text {
margin-bottom: 46px;
}

/*TODO: ------ABOUT-------- */
.about__block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__block-container {
    max-width: 1462px;
}

.about__block-img-item {
    max-width: 100%;
    min-height: 100%;
}

.about__block-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1163px;
    margin: 0 auto;
    margin-top: -450px;
}

.about__block-subtitle {
    text-align: center;
}

.about__block-title {
    max-width: 705px;
    text-align: center;
}

.about__block-text {
    max-width: 960px;
    text-align: center;
    margin-bottom: 82px;
}

/*TODO: ------CULTURE-------- */
.culture__block-container {
    max-width: 1462px;
    padding: 250px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.culture__block-box {
    max-width: 670px;
    margin-left: 42px;
    margin: 0 20px;
}

.culture__block-subtitle {
    margin-left: 96px;
}

.culture__block-title {
    max-width: 555px;
}

.culture__block-text {
    font-weight: 400;
    line-height: 1.78;
    letter-spacing: 0px;
    margin-bottom: 52px;
}

.culture__block-img-item {
    max-width: 100%;
}

/*TODO: ------FOOTER-------- */
.footer__block-container {
    max-width: 1462px;
    margin: 0 auto;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    min-height: 125px;
    flex-wrap: wrap;
}

.footer__top-logo {
    margin: 12px 50px 0 4px;
    margin-top: 12px;
    margin-left: 4px;
}

.footer__logo {
    max-width: 100%;
}

.footer__top-box {
    display: flex;
    max-width: 585px;
    max-height: 70px;
}

.footer__top-box-tex {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.32;
    letter-spacing: -0.3px;
    margin-right: 56px;
    padding: 20px 0;
}

.footer__button-item {
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 24px 70px;
    background: rgb(255, 163, 67);
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 700;
    line-height: 1.3;
    transition: 0.35s;
}

.footer__button-item:hover {
    background-color: #2b0386;
    color: #f3f1f7;
}

.footer__body {
    max-width: 1365px;
    display: flex;
    flex-wrap: wrap;
}

.footer__box {
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.footer__title {
    max-width: 365px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.36;
    letter-spacing: -0.3px;
    margin-bottom: 50px;
}

.footer__sosial {
    margin-left: 48px;
    padding-top: 30px;
}

.footer__social-list {
    display: flex;
}

.footer__social-link {
    display: inline-block;
}

.footer__social-item:not(:last-child) {
    margin-right: 52px;
}

.footer__social-link :hover {
    color: #eb1919;
}

.social-items a {
    display: inline-block;
    font-size: 27px;
    transition: .5s;
}

.social-items1 a {
    font-size: 33px;
}

.social-items2 a {
    font-size: 28px;
}

.social-items a :hover, 
.social-items1 a :hover,
.social-items2 a :hover {
    color:#eb0909 ;
}

.menu__ltem:not(:last-child) {
    margin-right: 50px;
}

.footer__menu {
    margin: 0 auto;
    padding-top: 20px;
}

.footer__copyright {
    padding-top: 70px;
    padding-bottom: 10px;
    text-align: center;
}

/*! ----------MEDIA----------- */
@media ( max-width: 1390px ) {
    .culture__block-container {
        flex-direction: column;
        align-items: center;
    }

    .culture__block-img {
        max-width: 670px; 
        width: 100%;  
    }

    .culture__block-img-item {
        width: 100%; 
    }

    .culture__block-container {
        padding: 150px 0;
    }
}

/*! ----------MEDIA----------- */
@media ( max-width: 1370px ){
    .inform__block-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .main-block__items {
        padding-top: 150px;
        padding-bottom: 600px;
    }

    .inform__block {
        padding-bottom: 100px;
        line-height: 1.78;
    }

}

/*! ----------MEDIA----------- */
@media ( max-width: 1000px ) {
    .about__block-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .about__block-box {
        margin-top: 0px;
    }
}

/*! ----------MEDIA----------- */
@media ( max-width: 800px ) {
    .footer__top-box-tex {
        font-size: 12px;
    }

    .footer__top-box {
        max-height: 40px;
    }

    .footer__button-item {
        font-size: 12px;
        padding: 12px 35px
    }

    .footer__top-box-tex {
        padding: 12px 0;
        margin-right: 30px;
    }

    .footer__logo {
        max-width: 70%;
    }

    .footer__box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: max-content;
    }

    .footer__sosial {
        margin-left: 20px;
    }

    .footer__title {
        font-size: clamp(15px, 4.6vw, 36px);
        margin-bottom: 15px;
    }

    .footer__social-item:not(:last-child) {
        margin-right: 25px;
    }

    .footer__copyright {
        padding-top: 30px;
        font-size: 10px;
    }
}

/* !----------MEDIA-----------*/
@media ( max-width: 700px ){  
    .header__container {
        min-height: 70px;
    }   
        
    .header__logo {
        margin-left: 10px;
        width: 65px;
    }   

    .menu__link {
        font-size: 12px;
    }   

    .menu__ltem:not(:last-child) {
        margin-right: 20px;
    }

    .main-block__items {
        padding-top: 110px;
        padding-bottom: 200px;
    }  
    
    .main-block__subtitle,
    .inform__block-subtitle,
    .culture__block-subtitle {
        font-size: 12px;
        letter-spacing: 2px;
        margin-left: 50px;
        margin-bottom: 12px;
    }

    .inform__block-title,
    .about__block-title,
    .culture__block-title {
        font-size:clamp(22px, 5.9vw, 64px);
    }   

    .inform__block-img {
        margin: 0 10px;
    }   

    .inform__block-box,
    .culture__block-box {
        margin: 0 10px;
    }

    .inform__block {
        margin-top: 0px;
        padding-bottom: 50px;
    }

    .block-box > *:not(:last-child) {
        margin-bottom: 10px;
    }
    
    .block__subtitle {
        margin-bottom: 20px;
        margin-left: 50px;
    }

    .block-title {
        padding-right: 0px;
        }

    .block-text {
        font-size: 12px;
        line-height: 1.5;
    }

    .about__block-text {
        margin-bottom: 40px;
    }

    .culture__block-container {
        padding: 50px 0;
    }

} 

